[submodule "singleapplication"]
	path = 3rdparty/singleapplication/src
	url = https://github.com/itay-grudev/SingleApplication
[submodule "qpropgen"]
	path = 3rdparty/qpropgen
	url = https://github.com/agateau/qpropgen
