[submodule "singleapplication"]
	path = singleapplication/src
	url = https://github.com/itay-grudev/SingleApplication
[submodule "qpropgen"]
	path = qpropgen
	url = https://github.com/agateau/qpropgen
