[Desktop Entry]
Name=Nanonote
GenericName=Note taking application
Comment=Minimalist not taking application
Type=Application
Exec=nanonote
Icon=nanonote
Terminal=false
Categories=Qt;Utility;TextEditor;
